@font-face {
  font-family: 'PacFontCrack';
  src: url('crackman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PacFontLot';
  src: url('lot.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OrbitronBlack';
  src: url('orbitronblack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron-Bold';
  src: url('Orbitron-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron-Medium';
  src: url('Orbitron-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OrbitronRegular';
  src: url('Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: -webkit-fill-available;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

canvas {
  background-color: black;
  width: 600px;
  height: 715px;
  font-family: OrbitronBlack;
  font-size: 40px;
  margin: 0 auto;
  border: 10px solid white;
}

.about-me {
  font-family: OrbitronBlack;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
}

.about-me p {
  padding: 10px;
  color: blue;
  line-height: 20px;
  vertical-align: middle;
  letter-spacing: 1.5px;
}

.bullet {
  font-size: 40px;
  margin-top: 18px;
}














/*  */
